mixin navbar(test, user)
    div(class="container")
            nav.navbar.navbar-expand.navbar-dark.bg-dark(style="margin-bottom: 30px")
                a(href="/", aria-label="Golden Goose").navbar-brand.mr-0.mr-md-2
                    img(src="/images/golden-goose.png", width="36", height="36")
                .collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href="/") Home
                        li.nav-item
                            a.nav-link(href="/subjects") Tests
                        //- if user
                        li.nav-item
                            a.nav-link(href="/admin") Change Test
                .navbar-right
                    if user
                        span.navbar-text Hello #{user.email}!
                .navbar-right
                    ul.navbar-nav.mr-auto
                        if !user
                            li.nav-li
                                a.nav-link(href="/signup") Sign Up
                        li.nav-li
                            a.nav-link(href="/login") Login
                        li.nav-li
                            a.nav-link(href="/logout") Logout